.logo{
    width: 100px;
    height: 80px;
    margin-left: 10px;
}
nav{
    text-decoration: none;
    font-size: 25px;
    margin-left: 0px; 
    width: 100%;
    text-align: center;
    word-spacing: 70px;
    color: black;
}
.nava {
    color: pink;
}
.navbar{
    background-color: rgb(48, 26, 4);
    text-decoration: none;
    margin-left: 10px;
    border: double 10px black;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nava:hover{
    color: black;
    text-decoration: none;
}