.header {
    background-image: url(images/multi\ leafs\ bg.jpg);
    width: 100%;
    float:inline-start;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
body {
    background-image: linear-gradient(rgb(255, 145, 0), rgb(197, 46, 8));
   background-repeat: no-repeat;
   background-size: cover;
}
.logo {
    float: left;
    height: 80px;
    max-width: 100%;
}

.list {
    text-align: end;
}
.list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.list li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    
}
.list a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
    background-color: maroon;
}
.list a:hover {
    color: orangered;
    text-decoration: none;
}
.mainimg {
    height: 350px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.calendar {
    height: auto;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.row2 {
    width: auto;
    height: 50px;
    color: red;
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/nightmare-banner.jpg);
    
}
.row3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5%;
}
ul {
    list-style: none;
    display: inline;
}
.price, .hours {
    background-color: rgb(99, 8, 8);
    color: white;
    text-align: center;
    
}
.ptittle {
    color: black;
}
.texth3 {
    position:relative;
    white-space: nowrap;
    -webkit-animation: flash linear 1s infinite;
	animation: flash linear 6s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
.row4 {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 25%;
    padding: 3px;
    background-color: black;
}
.row::after {
    content: '';
    display: table;
    clear: both;
}
.column img{
    height: 230px;
}
.row5 {
    text-align: center;
    color: black;
    
}
.footer-basic {
    padding:5px;
    background-image: url(images/multi\ leafs\ bg.jpg);
    color:#03213f;
  }
  
  .footer-basic .copyright {
    margin-top:5px;
    text-align:center;
    font-size: 30px;
    color:white;
    margin-bottom:0;
  }